@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
$main_color:#67bce0;
$placeholder_coler:#919191a8;
$shadowColor:#67bce034;
$hover_color:#05445E;
$focus_color:#75E6DA;
$font-2:'Courgette', cursive;
$sizes:1791px,2784px;

